<app-employer-nav></app-employer-nav>

<div class="flex flex-wrap bg-cover bg-center"  style="background-image: url('../../../../assets/cool-background.png')">
    <app-employer-sidebar  class=" min-h-screen w-full md:w-64 "> </app-employer-sidebar>
    <section class="bg-transparent py-10 flex-1" >
        <div class="container mx-auto px-4">
            <form [formGroup]="jobForm" (submit)="onSubmit()" class="max-w-lg mx-auto bg-transparent shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                    <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Job title</label>
                    <input type="text" name="title" placeholder="Title" formControlName="title" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <app-common-validation [generalControl]="jobForm.get('title')" [isSubmitted]="isSubmitted"></app-common-validation>         
                </div>
                <div class="mb-4">
                    <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Job Description</label>
                    <input type="text" name="description" placeholder="Description" formControlName="description" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <app-common-validation [generalControl]="jobForm.get('description')" [isSubmitted]="isSubmitted"></app-common-validation>         
                </div>
                <div class="mb-4">
                    <label for="salary" class="block text-gray-700 text-sm font-bold mb-2">Job Salary</label>
                    <input type="number" name="salary" placeholder="Salary" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="salary">
                    <app-salary-validation [isSubmitted]="isSubmitted" [salaryContorl]="jobForm.get('salary')"></app-salary-validation>
                </div>
                <!-- Company Address -->
                <div class="mb-6">
                    <h3 class="text-gray-700 text-lg font-bold mb-2">Company Address</h3>
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <label for="city" class="block text-gray-700 text-sm font-bold mb-2">City</label>
                            <input type="text" name="city" placeholder="City" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="city">
                            <app-city-validation [cityControl]="jobForm.get('city')"
                            [isSubmitted]="isSubmitted"></app-city-validation>
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                            <label for="district" class="block text-gray-700 text-sm font-bold mb-2">District</label>
                            <input type="text" name="district" placeholder="District" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="district">
                            <app-district-validation [districtControl]="jobForm.get('district')"
                            [isSubmitted]="isSubmitted"></app-district-validation>
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full md:w-1/3 px-3">
                            <label for="state" class="block text-gray-700 text-sm font-bold mb-2">State</label>
                            <input type="text" name="state" placeholder="State" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="state">
                            <app-state-validation [stateControl]="jobForm.get('state')"
                            [isSubmitted]="isSubmitted"></app-state-validation>
                        </div>
                        <div class="w-full md:w-1/3 px-3">
                            <label for="country" class="block text-gray-700 text-sm font-bold mb-2">Country</label>
                            <input type="text" name="country" placeholder="Country" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="country">
                            <app-country-validation [countryControl]="jobForm.get('country')"
                            [isSubmitted]="isSubmitted"></app-country-validation>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="zip" class="block text-gray-700 text-sm font-bold mb-2">Zip</label>
                        <input type="number" name="zip" placeholder="Zip" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="zip">
                        <app-zip-validation [zipControl]="jobForm.get('zip')"
                        [isSubmitted]="isSubmitted"></app-zip-validation>
                    </div>
                </div>
                <!-- Requirements -->
                <div class="mb-6">
                    <div formArrayName="requierments">
                        <div *ngFor="let requirement of requiermentForms.controls; let i = index" class="flex items-center mb-4">
                            <input type="text" [formControlName]="i" placeholder="Requirement" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-2">
                            <button type="button" (click)="removeRequierment(i)" *ngIf="i>1"  class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Remove</button>
                            <p *ngIf="requirement.errors?.['required'] && isSubmitted" class="text-red-600">Minmum Requirment</p>
                        </div>
                        <button type="button" (click)="addRequierment()" class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add Requirement</button>
                    </div>
                </div>
                <!-- Responsibilities -->
                <div class="mb-6">
                    <div formArrayName="responsibilities">
                        <div *ngFor="let responsibility of responsibilitiesFrom.controls; let i = index" class="flex items-center mb-4">
                            <input type="text" placeholder="Responsibility" [formControlName]="i" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-2">
                            <button type="button" (click)="removeResponsibilities(i)" *ngIf="i>1" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Remove</button>
                            <p *ngIf="responsibility.errors?.['required'] && isSubmitted" class="text-red-600">Minmum Requirment</p>
                        </div>
                        <button type="button" (click)="addResponsiblilites()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add Responsibility</button>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="typeOfJob" class="block text-gray-700 text-sm font-bold mb-2">Type of job</label>
                    <select name="typeOfJob" id="typeOfJob" formControlName="typeOfJob" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required="true">
                        <option value="fullTime">Full Time</option>
                        <option value="partTime">Part Time</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
                </div>
            </form>
        </div>
    </section>
    
</div>
<app-employer-footer></app-employer-footer>
