<app-user-nav></app-user-nav>
<div  class="bg-cover bg-center " style="background-image: url('../../../../assets/cool-background.png')">
  <section>
    <div class="container flex flex-col sm:flex-row space-x-2 ">
      <app-user-sidebar class="my-1"></app-user-sidebar>
      <div class="ring-gray-200 ring-2 w-full p-4 rounded-lg my-1 bg-gray-400" *ngIf="!isResume" >
        <div class="max-w-md mx-5 ">
          <form class="space-y-6" [formGroup]="form" (submit)="onSubmit()">
            <div>
              <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
              <input type="text" id="name" name="name"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2"
                formControlName="name" required="true">
                <app-name-validation [nameControl]="form.get('name')" [isSubmitted]="isSubmitted"></app-name-validation>
            </div>
            <div>
              <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
              <input type="email" id="email" name="email"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2"
                formControlName="email" required="true">
                <app-email-validation [emailControl]="form.get('email')" [isSubmitted]="isSubmitted"></app-email-validation>
            </div>
            <div>
              <label for="mobile" class="block text-sm font-medium text-gray-700">Mobile</label>
              <input type="tel" id="mobile" name="mobile"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2"
                formControlName="mobile" required="true">
                <app-mobile-validation [mobileControl]="form.get('mobile')"
                [isSubmitted]="isSubmitted"></app-mobile-validation>
            </div>
            <!-- Language Section -->
            <div>
              <!-- <label class="block text-sm font-medium text-gray-700">Languages</label>
                      <div class="mt-1 space-y-2" id="languageSection">
                        <div class="flex space-x-2">
                          <input type="text" name="language[]" placeholder="Language" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2" formControlName="language">
                      </div>
                      </div>
                      <button type="button" class="text-sm text-indigo-600 hover:text-indigo-900" (click)="addLanguage()">Add Language</button> -->
              <div formArrayName="languages">
                <div *ngFor="let language of languageForms.controls; let i=index" class="mb-1">
                  <div class="flex space-x-2">
                    <input type="text" [formControlName]="i" placeholder="Language"
                      class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2" required="true">
                    <button type="button" (click)="removeLanguage(i)" class="text-sm text-indigo-600 hover:text-indigo-900  bg-slate-400 p-1 rounded-lg ml-1">Remove</button>
                  </div>
                </div>
              </div>
              <button typ
              e="button" (click)="addLanguage()" class="text-sm text-indigo-600 hover:text-indigo-900 bg-slate-400 p-1 rounded-lg mt-1">Add Language</button>
            </div>
            <!-- Skill Section -->
            <div>
              <div formArrayName="skills">
                <div *ngFor="let skill of skillForms.controls; let i=index" class="mb-1">
                  <div class="flex space-x-2">
                    <input type="text" [formControlName]="i" placeholder="skill"
                      class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2" required="true">
                    <button type="button" (click)="removeSkill(i)" class="text-sm text-indigo-600 hover:text-indigo-900  bg-slate-400 p-1 rounded-lg ml-1">Remove</button>
                  </div>
                </div>
              </div>
              <button typ
              e="button" (click)="addSkillForm()" class="text-sm text-indigo-600 hover:text-indigo-900 bg-slate-400 p-1 rounded-lg mt-1">Add Skill</button>
  
  
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700">Work Experience</label>
              <div class="mt-1 space-y-2" id="workExperienceSection">
                <div class="space-y-2">
                  <input type="text" name="companyName" placeholder="Company Name"
                    class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2"
                    formControlName="companyName" required="true">
                    <app-common-validation [isSubmitted]="isSubmitted" [generalControl]="form.get('companyName')"></app-common-validation>
                  <input type="text" name="title" placeholder="Title"
                    class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2"
                    formControlName="jobTitle" required="true">
                    <app-common-validation [isSubmitted]="isSubmitted" [generalControl]="form.get('jobTitle')"></app-common-validation>
                  <input type="text" name="location" placeholder="Location"
                    class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2"
                    formControlName="companyLocation" required="true">
                    <app-common-validation [isSubmitted]="isSubmitted" [generalControl]="form.get('companyLocation')"></app-common-validation>
                  <input type="text" name="startDate" placeholder="Start Date"
                    class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2"
                    formControlName="companyStartDate" required="true">
                  <input type="text" name="endDate" placeholder="End Date"
                    class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2"
                    formControlName="companyEndDate" required="true">
                </div>
                <!-- <button type="button" class="text-sm text-indigo-600 hover:text-indigo-900" (click)="addWorkExperience()">Add Work Experience</button> -->
              </div>
            </div>
  
            <!-- Education Section -->
            <div>
              <label class="block text-sm font-medium text-gray-700">Education</label>
              <div class="mt-1 space-y-2" id="educationSection">
                <div class="space-y-2">
                  <input type="text" name="institution[]" placeholder="Institution"
                    class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2"
                    formControlName="institution" required="true">
                    <app-common-validation [isSubmitted]="isSubmitted" [generalControl]="form.get('institution')"></app-common-validation>
                  <input type="text" name="degree[]" placeholder="Degree"
                    class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2"
                    formControlName="degree" required="true">
                    <app-common-validation [isSubmitted]="isSubmitted" [generalControl]="form.get('degree')"></app-common-validation>
                  <input type="text" name="fieldOfStudy[]" placeholder="Field of Study"
                    class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2"
                    formControlName="fieldOfStudy" required="true">
                    <app-common-validation [isSubmitted]="isSubmitted" [generalControl]="form.get('fieldOfStudy')"></app-common-validation>
                  <input type="text" name="startDate[]" placeholder="Start Date"
                    class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2"
                    formControlName="startDate" required="true">
                  <input type="text" name="endDate[]" placeholder="End Date"
                    class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2"
                    formControlName="endDate" required="true">
                </div>
                <!-- <button type="button" class="text-sm text-indigo-600 hover:text-indigo-900" (click)="addEducation()">Add Education</button> -->
              </div>
            </div>
            <div>
              <button type="submit"
                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Submit</button>
            </div>
          </form>
        </div>
  
      </div>
<div *ngIf="isResume" class="container mx-auto py-1">
  <div class="bg-white shadow-md rounded-lg px-8 py-6">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">Resume Details</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <h3 class="text-xl font-semibold mb-2">Personal Information</h3>
        <div class="mb-4">
          <p><span class="font-semibold">Name:</span> {{ userResume?.name }}</p>
          <p><span class="font-semibold">Email:</span> {{ userResume?.email }}</p>
          <p><span class="font-semibold">Mobile:</span> {{ userResume?.mobile }}</p>
        </div>
      </div>
      <div>
        <h3 class="text-xl font-semibold mb-2">Languages & Skills</h3>
        <div class="mb-4">
          <p><span class="font-semibold">Languages:</span> {{ userResume!.languages.join(', ') }}</p>
          <p><span class="font-semibold">Skills:</span> {{ userResume!.skills.join(', ') }}</p>
        </div>
      </div>
      <div>
        <h3 class="text-xl font-semibold mb-2">Work Experience</h3>
        <ul class="list-disc pl-5 mb-4">
          <li><span class="font-semibold">Company Name:</span> {{ userResume?.workExperience?.companyName }}</li>
          <li><span class="font-semibold">Job Title:</span> {{ userResume?.workExperience?.jobTitle }}</li>
          <li><span class="font-semibold">Start Date:</span> {{ userResume?.workExperience?.workStartDate }}</li>
          <li><span class="font-semibold">End Date:</span> {{ userResume?.workExperience?.workEndDate }}</li>
        </ul>
      </div>
      <div>
        <h3 class="text-xl font-semibold mb-2">Education</h3>
        <ul class="list-disc pl-5 mb-4">
          <li><span class="font-semibold">Institution:</span> {{ userResume?.education?.institution }}</li>
          <li><span class="font-semibold">Degree:</span> {{ userResume?.education?.degree }}</li>
          <li><span class="font-semibold">Field of Study:</span> {{ userResume?.education?.fieldOfStudy }}</li>
          <li><span class="font-semibold">Start Date:</span> {{ userResume?.education?.eduStartDate }}</li>
          <li><span class="font-semibold">End Date:</span> {{ userResume?.education?.eduEndDate }}</li>
        </ul>
      </div>
    </div>
    <div class="flex justify-end">
      <button type="button" (click)="isResume=false" class="text-sm text-white bg-indigo-600 hover:bg-indigo-700 px-4 py-2 rounded-lg">Edit Resume</button>
    </div>
  </div>
</div>

      
  
    </div>
  </section>
</div>
