<app-user-nav></app-user-nav>
<section>
    <div class="container flex my-2">
        <div class="flex space-y-3 flex-col  p-8 ring-2 ring-gray-400 m-2 rounded-lg shadow-xl ">                
                    <a [routerLink]="'edit'" class=" text-gray-700 hover:text-emerald-900 font-bold">Edit profile</a>
                    <a href="" class="text-gray-700 hover:text-emerald-900 font-bold">My Jobs</a>
                    <a href="" class="text-gray-700 hover:text-emerald-900 font-bold">Subscriptions</a>
                    <a href="" class="text-gray-700 hover:text-emerald-900 font-bold">Notifications</a>
        </div>
        <div class="m-2">
            <h1>Use details</h1>
            
        </div>
    </div>
</section>