<app-employer-nav></app-employer-nav>
<div  class="flex  flex-wrap  space-x-3 bg-cover bg-center " style="background-image: url('../../../../assets/cool-background.png')">
    <app-employer-sidebar class=" w-full md:w-64"></app-employer-sidebar>
    <div class="p-2 my-2 flex-1">
        <div>
            <h1 class="text-xl font-bold mb-4">Job Applications</h1>
            <div *ngFor="let application of applications" class="shadow-lg bg-gray-200 flex flex-col space-y-4 m-2 w-full md:w-1/2 p-4 rounded-lg">
                <h2 class="text-lg font-semibold">ApplicationId: {{ application._id | slice:0:6 }}</h2>
                <p class="text-sm text-gray-600">Date: {{ application.appliedTime | date }}</p>
                <p class="text-sm text-gray-600">Application Status: {{ application.status }}</p>
                <div class="flex space-x-4 mt-4">
                    <button type="button" class="p-2 bg-teal-500 rounded-lg text-white font-semibold hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-opacity-50" (click)="viewResume(application.userId)">View Resume</button>
                    <button type="button" class="p-2 bg-red-500 rounded-lg text-white font-semibold hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50" (click)="updateJobStatus(application.userId, application._id)">Update Status</button>
                    <button *ngIf="application.resume" type="button" class="p-2 bg-blue-500 rounded-lg text-white font-semibold hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" (click)="downloadResume(application.resume)">Download Resume</button>

                </div>
            </div>
        </div>
    </div>
    

</div>

<app-employer-footer></app-employer-footer>