<app-user-nav></app-user-nav>
<div class="bg-cover bg-center " style="background-image: url('../../../../assets/cool-background.png')">

    <section >
        <div class="container flex flex-col sm:flex-row space-x-2 ">
            <app-user-sidebar class="my-1"></app-user-sidebar>        
            <div  class="ring-gray-200 ring-2 w-full p-4 rounded-lg my-1">
                <!-- Tabs to toggle between saved jobs and applied jobs -->
                <!-- <div class="flex justify-start space-x-2"> 
                    <button (click)="showSavedJobs = true; showAppliedJobs = false;" class="">Saved Jobs</button>
                    <button (click)="showAppliedJobs = true; showSavedJobs = false;">Applied Jobs</button>
                  
                </div> -->
    
                <div class="flex justify-start space-x-2 mb-1">
                  <button 
                      class="px-4 py-2 text-gray-700 bg-gray-200 rounded-lg focus:outline-none focus:bg-gray-300"
                      [class.font-semibold]="showSavedJobs"
                      (click)="showSavedJobs = true; showAppliedJobs = false;"
                  >
                      Saved Jobs
                  </button>
                  <button 
                      class="px-4 py-2 text-gray-700 bg-gray-200 rounded-lg focus:outline-none focus:bg-gray-300"
                      [class.font-semibold]="showAppliedJobs"
                      (click)="showAppliedJobs = true; showSavedJobs = false;"
                  >
                      Applied Jobs
                  </button>
              </div>
              
    
                <!-- Conditionally render saved jobs component -->
                <div *ngIf="showSavedJobs">
                  <app-user-saved-jobs></app-user-saved-jobs>
                </div>
              
                <!-- Conditionally render applied jobs component -->
                <div *ngIf="showAppliedJobs">
                  <app-user-applied-jobs></app-user-applied-jobs>
                </div>
              </div>
              
        </div>
    </section>
</div>