<h2 mat-dialog-title>Apply for Job</h2>
<div mat-dialog-content>
  <mat-form-field>
 <textarea matInput [(ngModel)]="coverLetter" placeholder="Enter your cover letter"></textarea>
  </mat-form-field>
  <div>
    <input type="file" name="" id="" (change)="onFileSelected($event)" accept=".pdf" class="form-control">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-button [mat-dialog-close]="coverLetter" (click)="apply()" [disabled]="!selectedFile">Apply</button>
</div>


