
<app-user-nav></app-user-nav>
<div class="bg-cover bg-center " style="background-image: url('../../../../assets/cool-background.png')">
    <section >
        <div class=" flex flex-col sm:flex-row space-x-2 ">
            <app-user-sidebar class="my-1"></app-user-sidebar>        
            <div class="ring-gray-200 ring-2 w-full p-4 rounded-lg my-1 hover:ring-gray-300 transition duration-300 ease-in-out">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-xl font-semibold">{{ plan?.name }}</h2>
                    <span class="text-gray-500">Duration:{{ plan?.duration }} Months+</span>
                </div>
                <p class="text-gray-900"> {{ plan?.description }}</p>
                <!-- <div  >
                    <p class="font-semibold">Features:</p>
                    <ul *ngIf="">
                        <li>Job Applications: {{plan?.features?.jobApplications }}</li>
                        <li>Chat Facility:
      
                            <i  *ngIf="plan?.features?.chatFacility" class="fa-solid fa-check"></i>
                            <i  *ngIf="!plan?.features?.chatFacility" class="fa-regular fa-circle-xmark"></i>
                        </li>
                        <li>Unlimited Search:
                            <i  *ngIf="plan?.features?.unlimitedSearch" class="fa-solid fa-check"></i>
                            <i  *ngIf="!plan?.features?.unlimitedSearch" class="fa-regular fa-circle-xmark"></i>
                        </li>
                    </ul>
                </div> -->
                <div class="mb-4">
                    <p class="font-semibold">Features:</p>
                    <ul>
                      <li>Job Postings: {{ plan?.features?.jobApplications }}</li>
                      <li>Chat Facility:
    
                          <i  *ngIf="plan?.features?.chatFacility" class="fa-solid fa-check"></i>
                          <i  *ngIf="!plan?.features?.chatFacility" class="fa-regular fa-circle-xmark"></i>
                      </li>
                      <li>Unlimited Search:
                          <i  *ngIf="plan?.features?.unlimitedSearch" class="fa-solid fa-check"></i>
                          <i  *ngIf="!plan?.features?.unlimitedSearch" class="fa-regular fa-circle-xmark"></i>
                      </li>
                      <!-- Add more features as needed -->
                  </ul>
                  </div>
                <div class="mt-4 flex justify-between items-center">
                    <div class="text-2xl font-bold text-gray-700">INR {{ plan?.price }}</div>
                    <div class="space-x-2">
                        <button 
                        class="px-6 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                        (click)="payforSusbcription(plan!.price)">
                        Pay Now
                    </button>
                    <button 
                    class="px-6 py-2 bg-teal-500 text-white rounded-md hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                    (click)="payWithWallet(plan!.price)">
                    Pay Using Wallet
                </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-user-footer></app-user-footer>
