<app-admin-nav></app-admin-nav>
<div class="container p-2">
  <h1 class="text-2xl font-bold">Job Verification</h1>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 container"  *ngIf="jobsForVerification && jobsForVerification!.length>0 " else #nodJobsToVerify >

    <div *ngFor="let job of jobsForVerification" class="bg-white rounded-lg shadow-lg p-6">
      
      <!-- Job ID -->
      <h1 class="text-xl font-semibold mb-2"> JobId: {{ job._id | slice:0:5  }}</h1>
      
      <!-- Job Location -->
      <div class="flex items-center mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
          <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
          <path fill-rule="evenodd" d="M10 0a7.53 7.53 0 00-7.5 7.5c0 5.55 7.5 12.5 7.5 12.5s7.5-6.95 7.5-12.5A7.53 7.53 0 0010 0zM2 7.5A6.47 6.47 0 017.5 2a6.47 6.47 0 015 2.5A6.47 6.47 0 0112.5 10c0 1.65-.625 3.15-1.646 4.284l-.028.026c-.036.035-.072.07-.108.106L10 17.5l-.718-.684c-.036-.036-.072-.071-.108-.106l-.028-.026C3.125 13.15 2.5 11.65 2.5 10c0-1.65.625-3.15 1.646-4.284l.028-.026c.036-.036.072-.07.108-.106L5 2.5 2 5.5v2zm5.5 7c.265 0 .52-.106.707-.293l4-4a1 1 0 10-1.414-1.414L7.5 12.086V7a1 1 0 10-2 0v5.086L3.207 9.793a1 1 0 10-1.414 1.414l4 4c.187.187.442.293.707.293z" clip-rule="evenodd" />
        </svg>
        <p class="text-gray-600">{{ job.location.city }}, {{ job.location.state }}</p>
      </div>
      
      <!-- Job Title -->
      <h2 class="text-lg font-semibold mb-2">Title: {{ job.title }}</h2>
      
      <!-- Job Description -->
      <p class="text-gray-700 mb-4">{{ job.description }}</p>
      
      <!-- Job Requirements -->
      <div class="mb-4">
        <h3 class="text-md font-semibold mb-2">Responsibilities</h3>
        <ul class="list-disc list-inside text-gray-700">
          <li *ngFor="let responsibility of job.responsibilities" class="mb-1">{{ responsibility }}</li>
        </ul>
      </div>

      <div class="mb-4">
        <h3 class="text-md font-semibold mb-2">Requirements</h3>
        <ul class="list-disc list-inside text-gray-700">
          <li *ngFor="let req of job.requierments" class="mb-1">{{ req }}</li>
        </ul>
      </div>
      
      <!-- Verify Job Button -->
      <button (click)="updateJobstatus(job._id)" class="bg-teal-600 text-white px-4 py-2 rounded-lg hover:bg-teal-700 focus:outline-none focus:border-teal-700 focus:shadow-outline-teal transition ease-in-out duration-150">
        Verify Job
      </button>
    
    </div>

  

  </div>
    <!-- Pagination -->
    <div class="mt-1">
      <div class="flex justify-center">
        <button [disabled]="pageNumber === 1" (click)="pageChanged(pageNumber-1)">Prev</button>
        <span>{{pageNumber}} of {{max}}</span>
        <button [disabled]="pageNumber ===max" (click)="pageChanged(pageNumber+1)">Next</button>
      </div>
    </div>
  
  